NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=
RUNWAYML_API_SECRET=
OPENAI_API_KEY=
OPENAI_PLANNING_MODEL=
MUX_TOKEN_ID=
MUX_TOKEN_SECRET=
INNGEST_EVENT_KEY=
INNGEST_SIGNING_KEY=
APP_BASE_URL=
